<%-include('./partials/headNav')%>

<section id="blog-item-section">
    <h1><%=blogItem.title%></h1>
    <img src="<%= blogItem.url %>" alt=""></img>
    <h5><%=blogItem.author%></h5>
    <h6><%=blogItem.published_at%></h6>
    <h6><%=blogItem.duration%> Min read</h6>
</section>

</body>

</html>